# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment folders
venv/
env/

# Ignore large data files (optional)
*.csv
*.xlsx
*.zip
